{% extends "base.html.twig" %}

{% block title %} {{ parent() }} | All Series {% endblock %}

{% block body %}
    <h1>je dois afficher la liste de toutes les séries</h1>
    {# todo : afficher toutes les séries#}

{% endblock %}